@charset "utf-8";
/* CSS Document */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=datetime-local] {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.btnres {
    background-color: #f2f2f2;
    padding: 6px 10px;
    color: #0080ff;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.phonenb {
    position: relative;
    margin-top: 30px; /* Adjust this value as needed for spacing */
}

    .phonenb {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: bold;
    }

    .phonenb {
        padding-top: 20px; /* Adjust this value to create space for the label */
    }


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    background-color: #f2f2f2;
    padding: 6px 10px;
    color: red;
    font-size: 14px;
    font-weight: bold;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
}

/* Add padding to containers */
.containerres {
    padding: 16px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.modalres {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 200px;
}

/* Modal Content/Box */
.modalres-content {
    background-color: #f2f2f2;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    height: 65%;
}

/* The Close Button */
.closer {
    /* Position it in the top right corner outside of the modal */
    position: inherit;
    float: right;
    color: red;
    font-size: 35px;
    font-weight: bold;
}

    /* Close button on hover */
    .closer:hover,
    .close:focus {
        color: black;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}
