body {
    margin: 0;
    font-family: 'Lucida Grande', tahoma,verdana,arial,sans-serif;
    line-height: 1.28;
}

#navwrapper {
    color: white;
    width: 100%;
    height: 100px;
    background-color: #fff;
}
/*
#navbar {
  margin: 0 auto;
  width:100%;
  height:59px;
  padding-right: 5%;
	background: #508EEF;
}
*/
#navbar {
    width: 100%;
    height: 100%;
    position: relative;
    float: right;
}

#contentwrapper {
    width: 100%;
    height: 606px;
    background-color: #edf0f5;
}

#content {
    margin: 0 auto;
    width: 980px;
    padding-top: 20px;
}

h1 {
    font-family: tahoma,verdana,arial,sans-serif;
    font-size: 38px;
    letter-spacing: 0.05px;
    margin: 0;
    color: #0080ff;
    -webkit-font-smoothing: antialiased;
}

.logowrapper {
    display: block;
    padding: 13px 0;
    width: 20%;
    text-align: center;
    position: relative;
    float: left;
}


#buttonlogin {
    position: relative;
    width: auto;
    height: 25px;
    background-color: #0080ff;
    border: 1px solid #999;
    border-color: #333;
    webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.tablewrapper {
    float: right;
    margin-top: 15px;
    margin-right: 1em;
}




.inputtext[type=text], .inputtext[type=password] {
    width: 90%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



.connect {
    width: 409px;
    height: 72px;
    padding: 42px 0 24px;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    color: #333;
    display: inline-block;
}










/*Menu Css



/* Add a black background color to the top navigation */
.topnav {
    background-color: #fff;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #0080ff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #004284;
            color: white;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #0080ff;
            color: white;
        }








/*slideshow css*/

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
    .text {
        font-size: 11px
    }

    .logowrapper {
        display: none;
    }
}

/*search bar*/
.searchbar {
    width: 80%;
    height: 15em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background-color: #f2f2f2;
    position: inherit;
}

    .searchbar .s-up {
        position: relative;
        width: 100%;
        height: 4em;
    }

        .searchbar .s-up .s-up-1 {
            padding-top: 25px;
            position: relative;
            width: 50%;
            height: inherit;
            float: left;
        }

        .searchbar .s-up .s-up-2 {
            padding-top: 25px;
            position: relative;
            width: 50%;
            height: inherit;
            float: left;
        }

    .searchbar .s-bottom {
        position: relative;
        width: 100%;
        height: auto;
        background: #ccc;
    }

        .searchbar .s-bottom .s-bottom-1 {
            padding-top: 15px;
            position: relative;
            width: 50%;
            height: inherit;
            float: left;
        }

        .searchbar .s-bottom .s-bottom-2 {
            padding-top: 15px;
            position: relative;
            width: 50%;
            height: inherit;
            float: left;
        }

.input-type, select, input[type=datetime-local] {
    width: 80%;
    padding: 4px 4px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: right;
}

.reserve-div {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.row1 {
    padding-left: 20px;
}

.inputd {
    width: auto;
    height: auto;
}

.buttonsearch {
    border-radius: 4px;
    background-color: #0080ff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .buttonsearch span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .buttonsearch span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .buttonsearch:hover span {
        padding-right: 25px;
    }

        .buttonsearch:hover span:after {
            opacity: 1;
            right: 0;
        }

@media only screen and (max-width: 600px) {

    .searchbar {
        width: 100%;
        height: 18em;
    }

        .searchbar .s-bottom .s-bottom-1, .searchbar .s-bottom .s-bottom-2 {
            margin-top: 1em;
            margin-bottom: 1em;
            width: 100%;
        }
}


.footer {
    width: 100%;
    height: 20px;
    background-color: #fff;
    position: inherit;
}
